<!-- 
  src/modules/task/task.tpl.html 
  Plantilla usada por el módulo de Personas
-->
<div class="viajes">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron">
                    <center>
                      <h1>Mis Paradas </h1>
                    </center>
            </div>
        </div>
    </div>
  <!-- TODO: Crear el contenido de la planilla -->
  <div>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Fecha Inicial</th>
        <th>Fecha Final</th>
        <th></th>
      </tr>
      <tr ng-repeat="record in records">
            <td>
              {{record.id}}
            </td>
            <td>
               {{record.name}}
            </td>
            <td>
              {{record.dateI}}
            </td>
          <td>
              {{record.dateF}}
            </td>
            <td>[<a href ng-click="ctrl.deleteRecord(record)">X</a>]</td>
          </tr>
      <form novalidate name="form" id="task-form" role="form" ng-submit="ctrl.saveRecord()">
      <tr ng-show="ctrl.editMode">
          <fieldset>
          <td>
          {{currentRecord.id}}
        </td>
        <td>
          <input type="text" ng-model="currentRecord.name" ng:required class="input-mini">
        </td>
        <td>
          <input type="date" ng-model="currentRecord.dateI" ng:required class="input-mini">
        </td>
              <td>
          <input type="date" ng-model="currentRecord.dateF" ng:required class="input-mini">
        </td>
          </fieldset>
        </tr>
            <td><button type="submit" form="task-form" class="btn btn-danger" ng-show="ctrl.editMode"><span class="glyphicon glyphicon-save"></span> Save</button>
        </td>
        </form>
        
      </table>
    <button class="btn btn-danger" ng-hide="ctrl.editMode" ng-click="ctrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Crear</button>
  </div>
</div>